<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="page-footer blue darken-4 ">
        <div class="container">
            <div class="row">
                </div>
                <div class="col s12 m12 l12">
                    <h5 class="white-text">Contáctanos</h5>
                    <p>
                        <blockquote><a class="white-text" href="https://www.facebook.com/" target="_blank"><b>facebook</b></a> | <a class="white-text" href="https://twitter.com/" target="_blank"><b>twitter</b></a></blockquote>
                        <blockquote><a class="white-text" href="https://www.instagram.com/" target="_blank"><b>instagram</b></a> | <a class="white-text" href="https://www.youtube.com/" target="_blank"><b>youtube</b></a></blockquote>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span>Credo por:<br>Miguel Gonzalez</span>
                <span class="grey-text text-lighten-4 right">Diseñado con <b>Materialize</b></span>
            </div>
        </div>
    </footer>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
</body>
</html>