<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Menu</title>
</head>
<body>
    

    <div class="navbar-fixed">          
        <nav >
            <div class="nav-wrapper cfd8dc white z-depth-5 center">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons black-text">menu</i></a>   
                     <img src="../../resources/img/logo.png" width="125" alt="" >
            </div>
        </nav>
    </div>

<!-- menu lateral-->
        <ul id="slide-out" class="sidenav">
            <li><div class="divider"></div></li>
            <li><a href="{% url 'Inicio' %}"><i class="material-icons">star</i>Inicio</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'Blog' %}"><i class="material-icons">face</i>Blog</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'Tienda' %}"><i class="material-icons">face</i>Tienda</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'Sevicios' %}"><i class="material-icons">spa</i>Servicios</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'Contacto' %}"><i class="material-icons">spa</i>Contactenos</a></li>
            <li><div class="divider"></div></li>
        </ul>



















    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
</body>
</html>